language: python
matrix:
  include:
    - python: 3.4
    - python: 3.5
install:
  - pip install -r requirements.txt
  - pip install coveralls
script:
  - python setup.py test
  - python setup.py flake8
after_success:
  - coveralls
